:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mantine-color-gray-1); /* Light gray background */
    color: var(--mantine-color-dark-9);
}

h1 {
    margin: 0;
    color: #646cff;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
